<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0">
                    CIFO La Violeta
                    <br />
                    Barcelona
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Contact with us</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="{{ path('contact_form') }}">
                    <i class="bi bi-envelope"></i>
                </a>
            </div>
        </div>
    </div>
</footer>