<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">
            <i class="bi bi-geo-alt me-2"></i>SymfoPlaces
        </a>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ path('place_index') }}">Places</a>
                </li>
            </ul>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <ul class="nav ms-auto">
                    <li class="nav-item">
                        <span class="nav-link px-2">{{ app.user.email }}</span></li>
                    <li class="nav-item">
                        <a class="nav-link px-2" href="{{ path('logout') }}">Log out</a></li>
                </ul>
            {% else %}
                <ul class="nav ms-auto">
                    <li class="nav-item">
                        <a href="{{ path('login') }}" class="nav-link px-2">
                            Login
                        </a>
                    </li>
                    <li class="nav-item"><a href="{{ path('app_register') }}" class="nav-link px-2">Register</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>