{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="masthead">
        <section class="page-section" id="contact">
            <div class="container">
                {% for flashError in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Register</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Contact Section Form-->
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        {{ form_start(registrationForm) }}
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                {{ form_widget(registrationForm.name, {'attr': {
                                    'class': 'form-control',
                                    'data-sb-validations': 'required'
                                    }}) }}
                                <label for="registration_form_name">Full name</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                {{ form_widget(registrationForm.email, {'attr': {
                                    'class': 'form-control',
                                    'data-sb-validations': 'required,email'
                                    }}) }}
                                <label for="registration_form_email">Email address</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            
                            <div class="form-floating mb-3">
                                {{ form_widget(registrationForm.plainPassword, {'attr': {
                                    'class': 'form-control',
                                    'data-sb-validations': 'required'
                                    }}) }}
                                <label for="registration_form_plain_password">Password</label>
                                <div class="invalid-feedback" data-sb-feedback="required">A Password is required.</div>
                            </div>
                            <div class="form-floating mb-3">
                                {{ form_row(registrationForm.agreeTerms) }}
                            </div>
                            <!-- Submit Button-->
                            <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Register</button>
                         {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
