{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <header class="masthead bg-primary text-white">
        <div class="container d-flex flex-column">
            {% for flashError in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}
            <h1>Reset your password</h1>

            {{ form_start(requestForm) }}
                {{ form_row(requestForm.email) }}
                <div>
                    <small>
                        Enter your email address and we will send you a
                        link to reset your password.
                    </small>
                </div>

                <button class="btn btn-secondary">Send password reset email</button>
            {{ form_end(requestForm) }}
        </div>
    </header>
{% endblock %}
