{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <header class="masthead bg-primary text-white">
        <div class="container d-flex flex-column">
            <h1>Reset your password</h1>

            {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
                <button class="btn btn-secondary">Reset password</button>
            {{ form_end(resetForm) }}
        </div>
    </header>
{% endblock %}
