{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    <div class="masthead">
        <section class="page-section" id="contact">
            <div class="container">
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Log In</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Contact Section Form-->
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">
                        <form action="{{ path('login') }}" method="post">
                            <div class="form-floating mb-3">
                                <input class="form-control" data-sb-validations="required,email" type="text" id="username" name="_username" value="{{ last_username }}"/>
                                <label for="username">Email</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            
                            <div class="form-floating mb-3">
                                <input class="form-control" type="password" id="password" name="_password"/>
                                <label for="password">Password</label>
                                <div class="invalid-feedback" data-sb-feedback="required">A Password is required.</div>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            {# If you want to control the URL the user is redirected to on success
                            <input type="hidden" name="_target_path" value="/account"/> #}

                            <button class="btn btn-primary btn-xl" type="submit">login</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
