<section class="page-section bg-primary text-white mb-0" id="comments">
    <div class="container">
        <!-- About Section Heading-->
        <h3 class="page-section-heading text-center text-uppercase text-white">Comments</h3>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="bi bi-chat-left-text"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            {% for comment in place.comments %}
                <div class="col-lg-12 border p-2 m-2 rounded border-2">
                    <h4>{{ comment.createdBy.name }}</h4>
                    <p class="lead">{{ comment.message }}</p>
                    {% if is_granted('delete', comment) %}
                        {{ include('comment/_delete_form.html.twig') }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% if is_granted('ROLE_USER') %}
            <div class="text-center mt-4">
                {{ include('place/_add_comment_form.html.twig') }}
            </div>
        {% endif %}
    </div>
</section>