<form 
    class="col"
    method="post" action="{{ path('place_delete', {'id': place.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ place.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
