<h2 class="portfolio-modal-title text-secondary text-uppercase mb-0 text-center">{{ place.name }}</h2>
<!-- Icon Divider-->
<div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><i class="bi bi-geo-alt"></i></div>
    <div class="divider-custom-line"></div>
</div>