<iframe
    class="rounded shadow-sm"
    width="100%"
    height="600px"
    frameborder="0"
    style="border:0"
    src="https://www.google.com/maps/embed/v1/view?key=AIzaSyB3LxYf03gFR0ShpwfoaR5bzpSWpsNy0cg&center={{ place.getLocationLatitude() }}, {{ place.getLocationLongitude() }}&zoom=13&maptype=satellite"
    allowfullscreen
>
</iframe>