<div class="row text-secondary">
    <div class="col-lg-12">
        <a class="btn btn-primary" href="#photos">
            {{ place.photos.count }}
            <i class="ms-1 bi bi-camera"></i>
        </a>
        <a class="btn btn-primary" href="#comments">
            {{ place.comments.count }}
            <i class="ms-1 bi bi-chat-left-text"></i>
        </a>
        <p class="lead">{{ place.type }}</p>
        <p class="lead">Created by <span class="text-white">{{ place.createdBy.email }}</span></p>
        <p class="lead text-black">{{ place.description }}</p>
    </div>
</div>