{% extends 'base.html.twig' %}

{% block title %}Edit Place{% endblock %}

{% block body %}
<!-- Masthead-->
        <header class="masthead bg-primary text-white">
            <div class="container d-flex flex-column">
                {{ include('place/_header.html.twig') }}
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 g-3">
                    <div class="col">
                        {{ include('place/_map.html.twig') }}
                    </div>
                    <div class="col">
                        <a class="btn btn-secondary" href="{{ path('place_index') }}">Back to Places</a>
                        {{ include('place/_form.html.twig', {'button_label': 'Update'}) }}
                        {{ include('place/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </header>
        {{ include('photo/photos_section.html.twig') }}
        {{ include('comment/comments_section.html.twig') }}
{% endblock %}
