{% extends 'base.html.twig' %}

{% block title %}Place index{% endblock %}

{% block body %}
    <header class="masthead bg-primary">
        <div class="container d-flex flex-column">
            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0 text-center">Places</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="bi bi-geo-alt"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-3 g-3">
            {% for place in places %}
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="{{ asset(images_dir ~'/'~(place.thumbnail.image ?? 'default.jpg'))}}">
                    <div class="card-body">
                        <h5 class="card-title">{{place.name}}</h5>
                        <p class="card-text">{{ place.type }}</p>
                        <a href="{{ path('place_show', {
                            id: place.id
                        }) }}" class="btn btn-primary">show</a>
                        {% if is_granted('edit', place) %}
                            <a href="{{ path('place_edit', {
                                id: place.id
                            }) }}" class="btn btn-primary">edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% else %}
                No records found.
            {% endfor %}
            </div>
            {% include('paginator.html.twig') %}
            {% if is_granted('ROLE_USER') %}
                <a class="btn btn-secondary mt-4" href="{{ path('place_new') }}">Create new</a>
            {% endif %}
        </div>
    </header>
{% endblock %}
