{% extends 'base.html.twig' %}

{% block title %}New Place{% endblock %}

{% block body %}
    <header class="masthead bg-primary text-white">
        <div class="container d-flex flex-column">
            <div class="col">
                <a class="btn btn-primary" href="{{ path('place_index') }}">Back to Places</a>
                {{ include('place/_form.html.twig') }}
            </div>
        </div>
    </header>
{% endblock %}
