{% extends 'base.html.twig' %}

{% block title %}Edit Place{% endblock %}

{% block body %}
    <header class="masthead bg-primary text-white">
        <div class="container d-flex flex-column">
            {{ include('place/_header.html.twig') }}
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 g-3">
                <div class="col">
                    {{ include('place/_map.html.twig') }}
                </div>
                <div class="col">
                    {{ include('place/_view.html.twig') }}
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 g-3">
                        {% if is_granted('edit', place) %}
                            <a class="col btn btn-secondary" href="{{ path('place_edit', {
                                id: place.id
                            }) }}" class="btn btn-primary">edit</a>
                        {% endif %}
                        {% if is_granted('delete', place) %}
                            {{ include('place/_delete_form.html.twig') }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    {{ include('photo/photos_section.html.twig') }}
    {{ include('comment/comments_section.html.twig') }}
{% endblock %}
