<form 
    class="m-2"
    method="post" action="{{ path('photo_delete', {'id': photo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this photo?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ photo.id) }}">
    <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
</form>
