{% extends 'base.html.twig' %}

{% block title %}Contact form{% endblock %}

{% block body %}

    <header class="masthead bg-primary">
        <div class="container d-flex flex-column mt-3">
            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0 text-center">Contact with us</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="bi bi-envelope"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row justify-content-center mt-3 mb-5">
                <div class="col-md-9">
                    {{ form_start(form) }}
                        {{ form_row(form.subject) }}
                        {{ form_row(form.message) }}
                        <button type="submit" class="btn btn-secondary">Contact</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </header>
    
{% endblock %}